// Header hero
section.header-hero {
    background-color: var(--secondary-color);
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1108%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(152%2c 172%2c 177%2c 0.12)'%3e%3c/rect%3e%3cpath d='M0%2c759.412C138.336%2c780.245%2c257.284%2c653.941%2c357.596%2c556.43C445.099%2c471.371%2c476.333%2c351.577%2c531.518%2c242.736C589.506%2c128.368%2c697.97%2c28.772%2c690.023%2c-99.21C681.969%2c-228.911%2c589.872%2c-341.419%2c490.076%2c-424.653C398.337%2c-501.167%2c277.17%2c-523.553%2c159.142%2c-541.989C53.65%2c-558.467%2c-47.867%2c-534.508%2c-154.24%2c-525.295C-290.664%2c-513.48%2c-444.288%2c-561.895%2c-554.191%2c-480.209C-666.681%2c-396.601%2c-718.135%2c-243.846%2c-721.435%2c-103.727C-724.594%2c30.401%2c-652.815%2c154.235%2c-571.65%2c261.064C-501.642%2c353.209%2c-381.715%2c382.182%2c-294.485%2c458.227C-186.459%2c552.401%2c-141.714%2c738.07%2c0%2c759.412' fill='rgba(133%2c 157%2c 163%2c 0.12)'%3e%3c/path%3e%3cpath d='M1920 1688.175C2062.661 1696.72 2210.619 1795.243 2337.946 1730.336 2465.252 1665.4389999999999 2495.416 1499.734 2549.286 1367.385 2601 1240.333 2660.889 1112.008 2645.087 975.748 2629.075 837.675 2551.196 716.971 2461.541 610.752 2370.992 503.47400000000005 2268.199 389.13300000000004 2129.849 365.321 1994.792 342.07500000000005 1878.057 450.76800000000003 1746.057 487.60400000000004 1611.626 525.118 1442.411 481.61300000000006 1347.254 583.712 1252.187 685.7139999999999 1287.627 848.733 1279.7350000000001 987.944 1272.524 1115.152 1259.475 1242.0140000000001 1303.15 1361.7060000000001 1349.141 1487.746 1414.453 1619.363 1533.038 1682.124 1649.414 1743.716 1788.566 1680.3020000000001 1920 1688.175' fill='rgba(171%2c 187%2c 191%2c 0.12)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1108'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 100px 0 150px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    & .logopu {
        display: flex;
        margin: 10px 0;

        @include media-breakpoint-down(sm) {
            align-items: center;
            justify-content: center;
        }

        @include media-breakpoint-only(md) {
            align-items: center;
            justify-content: center;
        }
    }

    & .hai {
        & h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 70px;
            line-height: 178.5%;
            color: var(--font-h);
            display: flex;

            @include media-breakpoint-down(sm) {
                align-items: center;
                justify-content: center;
                margin: 0;
            }

            @include media-breakpoint-only(md) {
                align-items: center;
                justify-content: center;
                margin: 0;
            }

            & span {
                animation: gerak 3s ease 0s infinite normal none;
                display: flex;

                @keyframes gerak {
                    0.0% {
                    }

                    50.0% {
                        transform: rotate(20deg);
                    }

                    60.0% {
                        transform: rotate(10deg);
                    }

                    70.0% {
                        transform: rotate(20deg);
                    }

                    80.0% {
                        transform: rotate(10deg);
                    }

                    90.0% {
                        transform: rotate(20deg);
                    }
                }
            }
        }

        & h2 {
            display: flex;
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            color: var(--font-h);

            @include media-breakpoint-down(sm) {
                align-items: center;
                justify-content: center;
                font-size: 40px;
                margin: 20px 0;
            }

            @include media-breakpoint-only(md) {
                align-items: center;
                justify-content: center;
                margin: 20px 0;
            }
        }

        & h3 {
            display: flex;
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
            color: var(--font-h);

            @include media-breakpoint-down(sm) {
                align-items: center;
                justify-content: center;
                font-size: 29px;
                margin: 20px 0;
            }

            @include media-breakpoint-only(md) {
                align-items: center;
                justify-content: center;
                margin: 20px 0;
            }
        }
    }

    & .thumbnail-foto {
        margin-top: 20px;

        @include media-breakpoint-up(lg) {
            margin-left: 105px;
        }

        @include media-breakpoint-only(md) {
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }

        @include media-breakpoint-down(sm) {
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }

        display: flex;
        flex-direction: row;
        justify-content: left;

        & .thumbnail-item {
            margin: 0 -10px;
            background-color: var(--primary-color);
            border-radius: 100px;
            padding: 5px 5px;
            border: 5px solid var(--bg-color);
        }

        & img {
            width: 50px;
        }
    }

    & .sub-hero {
        display: flex;
        background-image: url("/img/gradien.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        & .hero-box {
            position: relative;
            background-color: var(--bg-color);
            height: 520px;
            border-radius: 30px;
            width: 285px;
            animation: pulse 1s infinite;
            box-shadow: 0 0 0px rgba(105, 105, 105, 0.61);

            & p {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                margin: 90px 53px;
                color: var(--font-h);
            }
        }

        & .hero-box:hover {
            transform: scale(1.1);
            transition: 0.2s;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 2);
            }

            100% {
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            }
        }
    }
}

// Testimoni
section.testimonial {
    margin: 100px 0px 100px 0px;
    background: var(--secondary-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1013%26quot%3b)' fill='none'%3e%3cpath d='M38.182%2c140.865C72.95%2c140.64%2c100.235%2c114.144%2c116.885%2c83.621C132.744%2c54.548%2c136.677%2c19.556%2c119.946%2c-9.024C103.372%2c-37.336%2c70.969%2c-49.698%2c38.182%2c-50.819C2.909%2c-52.025%2c-35.845%2c-45.308%2c-53.872%2c-14.965C-72.172%2c15.837%2c-60.524%2c53.801%2c-42.301%2c84.649C-24.462%2c114.847%2c3.109%2c141.092%2c38.182%2c140.865' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M206.418%2c408.459C281.526%2c405.376%2c357.676%2c380.546%2c395.105%2c315.356C432.403%2c250.394%2c418.826%2c170.259%2c379.94%2c106.235C342.653%2c44.844%2c278.241%2c5.434%2c206.418%2c4.695C133.275%2c3.943%2c67.092%2c41.682%2c26.601%2c102.6C-19.383%2c171.783%2c-53.256%2c260.421%2c-11.155%2c332.033C30.6%2c403.055%2c124.1%2c411.838%2c206.418%2c408.459' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M34.618%2c121.941C64.606%2c121.678%2c88.156%2c100.138%2c103.977%2c74.662C120.967%2c47.303%2c135.653%2c13.468%2c119.158%2c-14.192C102.893%2c-41.466%2c66.37%2c-41.124%2c34.618%2c-41.644C1.469%2c-42.187%2c-37.629%2c-45.365%2c-54.858%2c-17.041C-72.433%2c11.852%2c-55.188%2c47.462%2c-36.881%2c75.898C-20.434%2c101.445%2c4.236%2c122.207%2c34.618%2c121.941' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1725.909%2c99.399C1753.65%2c98.819%2c1779.831%2c85.076%2c1793.317%2c60.827C1806.457%2c37.201%2c1803.758%2c8.158%2c1789.39%2c-14.742C1775.903%2c-36.237%2c1751.248%2c-45.231%2c1725.909%2c-46.607C1697.225%2c-48.164%2c1665.017%2c-46.362%2c1649.249%2c-22.351C1632.343%2c3.392%2c1637.025%2c37.69%2c1653.435%2c63.752C1668.81%2c88.17%2c1697.06%2c100.002%2c1725.909%2c99.399' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1907.622%2c471.87C1994.281%2c469.086%2c2042.213%2c381.436%2c2084.583%2c305.79C2125.567%2c232.619%2c2171.14%2c148.318%2c2129.681%2c75.415C2087.947%2c2.029%2c1992.04%2c-4.42%2c1907.622%2c-5.383C1820.784%2c-6.374%2c1721.942%2c-3.826%2c1676.608%2c70.246C1630.02%2c146.367%2c1665.306%2c240.471%2c1709.804%2c317.832C1754.465%2c395.477%2c1818.095%2c474.746%2c1907.622%2c471.87' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1773.217%2c208.41C1819.828%2c208.17%2c1855.607%2c170.53%2c1876.712%2c128.97C1895.726%2c91.527%2c1893.556%2c48.222%2c1873.222%2c11.479C1852.152%2c-26.593%2c1816.706%2c-59.5%2c1773.217%2c-58.042C1731.453%2c-56.642%2c1704.612%2c-18.64%2c1684.19%2c17.817C1664.388%2c53.167%2c1650.708%2c93.335%2c1667.856%2c130.046C1687.71%2c172.55%2c1726.306%2c208.652%2c1773.217%2c208.41' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M20.952%2c953.359C49.886%2c955.651%2c82.789%2c954.114%2c98.719%2c929.851C115.745%2c903.92%2c110.034%2c869.302%2c93.285%2c843.191C77.82%2c819.083%2c49.589%2c809.139%2c20.952%2c808.619C-8.824%2c808.078%2c-42.041%2c814.214%2c-56.078%2c840.479C-69.648%2c865.869%2c-54.276%2c895.237%2c-38.049%2c919.017C-24.301%2c939.163%2c-3.362%2c951.433%2c20.952%2c953.359' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M70.527%2c1053.57C113.446%2c1054.27%2c155.685%2c1033.212%2c175.511%2c995.14C194.154%2c959.34%2c177.724%2c919.195%2c159.169%2c883.35C138.302%2c843.04%2c115.916%2c792.774%2c70.527%2c792.33C24.811%2c791.882%2c-0.813%2c840.65%2c-21.173%2c881.584C-38.751%2c916.926%2c-47.261%2c956.981%2c-28.69%2c991.811C-9.046%2c1028.654%2c28.78%2c1052.889%2c70.527%2c1053.57' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M206.467%2c1303.68C290.505%2c1301.637%2c367.937%2c1260.722%2c411.995%2c1189.129C458.39%2c1113.739%2c475.922%2c1017.054%2c429.077%2c941.943C384.202%2c869.991%2c291.141%2c854.982%2c206.467%2c859.588C130.896%2c863.698%2c63.777%2c900.841%2c22.189%2c964.074C-24.681%2c1035.338%2c-57.809%2c1124.59%2c-17.129%2c1199.56C24.898%2c1277.011%2c118.374%2c1305.821%2c206.467%2c1303.68' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1884.882%2c1288.439C1970.096%2c1289.264%2c2049.49%2c1238.076%2c2086.807%2c1161.463C2120.453%2c1092.389%2c2087.138%2c1016.814%2c2049.933%2c949.59C2011.001%2c879.247%2c1965.27%2c797.903%2c1884.882%2c796.62C1803.267%2c795.317%2c1749.28%2c872.376%2c1710.446%2c944.171C1673.994%2c1011.563%2c1654.991%2c1089.27%2c1689.621%2c1157.616C1727.574%2c1232.52%2c1800.916%2c1287.626%2c1884.882%2c1288.439' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1787.771%2c1089.787C1838.739%2c1092.972%2c1887.432%2c1064.272%2c1912.344%2c1019.694C1936.703%2c976.105%2c1931.76%2c922.243%2c1904.936%2c880.126C1880.011%2c840.99%2c1834.16%2c823.143%2c1787.771%2c824.097C1743.177%2c825.014%2c1700.223%2c845.732%2c1678.663%2c884.778C1657.734%2c922.682%2c1667.186%2c967.425%2c1687.528%2c1005.647C1709.495%2c1046.922%2c1741.105%2c1086.871%2c1787.771%2c1089.787' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1739.281%2c1001.585C1773.722%2c1000.259%2c1799.52%2c973.859%2c1816.647%2c943.948C1833.642%2c914.268%2c1843.181%2c878.775%2c1826.792%2c848.757C1809.826%2c817.681%2c1774.635%2c800.329%2c1739.281%2c802.244C1706.778%2c804.004%2c1683.466%2c829.474%2c1666.779%2c857.422C1649.514%2c886.337%2c1635.731%2c920.245%2c1650.862%2c950.331C1667.267%2c982.951%2c1702.795%2c1002.99%2c1739.281%2c1001.585' fill='rgba(152%2c 172%2c 177%2c 0.5)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1013'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    width: 100%;
    padding: 50px 40px 50px 40px;

    & .section-title {
        align-items: center;
        text-align: center;
        margin: 20px 0px 50px 0px;

        & span {
            color: var(--primary-color);
        }

        & h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            color: var(--font-h);
        }
    }

    & .testimonials {
        overflow: hidden;

        & .testimonial-item {
            padding: 40px 30px;
            background: var(--bg-color);
            border-radius: 30px;
            margin: 30px 15px;

            & p {
                margin-bottom: 30px;
                font-style: italic;
                color: var(--font-p);
            }

            & h5 {
                line-height: 20px;
                margin-bottom: 0;
                margin-top: 5px;
                font-size: 16px;
                font-weight: 500;
                color: var(--font-h);
            }

            & span {
                font-size: 13px;
                color: var(--font-h);
            }

            & i.testi-quote {
                position: absolute;
                top: 0;
            }

            & i {
                font-size: 50px;
                color: var(--font-h);
            }

            & .row img {
                margin-right: 0;
                border-radius: 50% !important;
                width: 80px;
            }

            & .list-inline {
                float: right;
                margin-top: 15px;
            }

            & .list-inline,
            .list-inline-item:not(:last-child) {
                margin-bottom: 0;
                color: #ffc800;
            }

            & .list-inline-item {
                margin-right: 5px;
            }
        }
    }
}

//Galeri singkat

.judul-gallery {
    margin-top: 100px;
    align-items: center;
    text-align: center;

    & h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: var(--font-h);
    }
}

.btn-gallery {
    text-align: center;
    align-items: center;
    margin: 30px 0px 60px 0px;
}
